.tickets-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

.tickets-form__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.tickets-form__total-title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--spacing-2);
}

.tickets-form__total {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-medium);
}

.tickets-form__total > h3 {
  font-weight: var(--font-weight-light);
}
