.tickets-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  background-color: var(--background-secondary);
}

.tickets-form__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.tickets-form__total {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-large);
}

.tickets-form__total > h3 {
  font-weight: 300;
}
