.event-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.event-info__title {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-bold);
}

.event-info__items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.event-info__item {
  display: flex;
  gap: var(--spacing);
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  font-weight: var(--font-weight-medium);
}
